<section class="container">
  <form class="js-quiz-form | flex flex-col gap-10 md:gap-16 xl:flex-row xl:justify-between xl:gap-24">
    <div class="xl:w-[40%]">
      <p class="mb-3 font-light italic text-grey-navy dark:text-light-bluish md:text-xl md:mb-6">Question {{questionNumber}} of {{maxQuestions}}</p>
      <h1 class="mb-6 text-xl font-medium leading-tight md:text-4xl md:mb-10 xl:mb-44">{{currentQuestion.question}}</h1>
      <div class="progress-bar | w-full p-1 bg-white dark:bg-navy rounded-full" aria-hidden="true">
        <div class="js-progress | h-2 bg-purple-700 rounded-full"></div>
      </div>
    </div>
    <div class="text-lg font-medium md:text-2xl xl:w-[48%]">
      <div class="options js-options | flex flex-col gap-4 md:gap-6">
        {{#each currentQuestion.options}}
          <label for="option-{{@index}}" class="option | relative flex items-center gap-4 w-full p-2.5 border-[3px] border-white dark:border-navy rounded-xl bg-white shadow-card dark:bg-navy dark:shadow-card-dark has-[:checked]:border-purple-700 has-[:checked]:before:text-white has-[:checked]:before:bg-purple-700 has-[:focus-visible]:ring-2 has-[:focus-visible]:ring-dark-navy dark:has-[:focus-visible]:ring-white has-[:disabled]:opacity-75 before:transition-[background-color, color] before:duration-300 hover:before:text-purple-700 hover:before:bg-purple-100 cursor-pointer md:gap-8 xl:p-4 xl:rounded-3xl">
            <input id="option-{{@index}}" class="sr-only" type="radio" name="options" value="{{this}}">
            <span class="me-6 xl:me-10">{{this}}</span>
            
            <svg class="checkmark | absolute top-1/2 end-2.5 hidden flex-shrink-0 size-6 ms-auto -translate-y-1/2 md:size-auto xl:end-4" width="32" height="32">
              <use xlink:href="#icon-correct"></use>
            </svg>

            <svg class="dismiss | absolute top-1/2 end-2.5 hidden flex-shrink-0 size-6 ms-auto -translate-y-1/2 md:size-auto xl:end-4" width="32" height="32">
              <use xlink:href="#icon-error"></use>
            </svg>
          </label>
        {{/each }}
      </div>
      <input class="w-full mt-4 p-3.5 text-center text-white bg-purple-700 transition-[background-color] duration-300 hover:bg-purple-500 rounded-xl cursor-pointer md:mt-8 md:p-8 md:rounded-3xl" type="submit" value="Submit Answer">
      
      {{!-- Error message --}}
      <div class="js-error-container | opacity-0 flex justify-center items-center gap-2 mt-3 md:mt-8" aria-hidden="true">
        <svg class="size-6 md:size-auto" width="32" height="32" aria-hidden="true" focusable="false">
          <use xlink:href="#icon-error"></use>
        </svg>
        <p class="text-lg font-normal text-red dark:text-white md:text-2xl">Please, select an answer</p>
      </div>
    </div>
  </form>
</section>